$font-family: 'Space Mono', sans-serif;

$black: #16161d;
$gold: #d7c178;
$yellow: #f4de1f;
$red: #990000;

$gray-dark: #535353;
$gray-light: #787878;

$screen-sm: '768px';
$screen-md: '960px';
$screen-lg: '1200px';