<div class="character-card">
  <header class="card-header">
    <h3>{{character.name}}</h3>
    <dl class="info">
      <dt>Species:</dt>
      <ng-container *ngIf="character.species.length; else unknown">
        <dd *ngFor="let species of character.species; let first = first">
            <ng-container *ngIf="!first">, </ng-container>{{species.name}}
        </dd>
      </ng-container>
      <dt>Homeworld:</dt>
      <ng-container *ngIf="character.homeworld.length; else unknown">
        <dd>{{character.homeworld[0].name}}</dd>
      </ng-container>
    </dl>
  </header>
  <dl>
    <dt>Films:</dt>
    <dd *ngFor="let film of character.films">{{film.title}}</dd>
  </dl>
</div>

<ng-template #unknown>
  <dd>Unknown</dd>
</ng-template>