.character-card {
    @include border;
    padding: 1rem;
}

.card-header {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-wrap: wrap;

    dt,
    dd {
        flex-basis: 50%;
    }

    dd {
        text-align: right;
    }
}

@media only screen and (min-width: $screen-sm) {
    .card-header {
        flex-direction: row;
        justify-content: space-between;        
    }

    .info {
        display: inline-block;
        text-align: right;

        dt, dd {
            display: inline;
        }
    }
}